* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", serif;
}

:root {
    --index: calc(1vw + 1vh);
    --dark-cell: #769656;
    --light-cell: #eeeed2;
    --selected-dark-cell: #bbcb2b;
    --selected-light-cell: #f7f769;
    --text-light-cell: #779952;
    --text-dark-cell: #edeed1;
    --text-color: #edeed1;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #312e2b;
    position: relative;
}

.board {
    width: calc(var(--index) * 28);
    height: calc(var(--index) * 28);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(var(--index) * 3.5);
    height: calc(var(--index) * 3.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.coordinate-x , .coordinate-y {
    position: absolute;
    font-size: calc(var(--index) * 0.6);
    font-weight: normal;
}

.coordinate-x {
    bottom: 5%;
    right: 7%;
}

.coordinate-y {
    top: 5%;
    left: 5%;
}

.cell img {
    width: calc(var(--index) * 3.5);
    height: calc(var(--index) * 3.5);
    position: relative;
}

.black {
    background-color: var(--dark-cell);
    color: var(--text-dark-cell);
}

.white {
    background-color: var(--light-cell);
    color: var(--text-light-cell);
}

.selected-white {
    background-color: var(--selected-light-cell);
}

.selected-black {
    background-color: var(--selected-dark-cell);
}

.available {
    width: calc(var(--index) * 1);
    height: calc(var(--index) * 1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.target::after {
    content: "";
    position: absolute;
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 3);
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-player {
    font-size: calc(var(--index) * 2.0);
    padding-bottom: calc(var(--index) * 0.5);
    color: var(--text-color);
}

.restart {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    font-size: calc(var(--index) * 1);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: calc(var(--index) * 2.5);
}

.restart:hover {
    background-color: red;
    color: #fff;
}

.lost-figures {
    margin-right: calc(var(--index) * 10);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: calc(var(--index) * 1.1);

}

.lost {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.lost h3 {
    width: 100%;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
}

.lost-figure-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.lost-icon {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
    margin-right: 5px;
}

.timer {
    width: calc(var(--index) * 5);
    border-radius: 5px;
    font-size: calc(var(--index) * 1);
    color: var(--text-color);
    padding: 5px;
    text-align: end;
    font-weight: bold;
}

.timer-black {
    position: absolute;
    top: calc(var(--index) * 7.5);
    left: 5%;
    background-color: #2b2926;
    color: #82817f;
}

.timer-black-active {
    background-color: #262421;
    color: #ffffff;
}

.timer-white {
    position: absolute;
    bottom: calc(var(--index) * 5.5);
    left: 5%;
    background-color: #989795;
    color: #61605d;
}

.timer-white-active {
    background-color: white;
    color: #262421;
}

@media screen and (max-width: 600px) {
    .app {
        flex-direction: column;
    }

    .lost h3 {
        width: 100%;
    }

    .figures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1px;
    }

    .lost-figures {
        height: 60%;
        margin-right: 0;
    }

    .timer-white {
        bottom: calc(var(--index) * 26);

    }

    .timer-black {
        top: calc(var(--index) * 40.3);
        left: calc(var(--index) * 24);
    }

    .restart {
        position: relative;
        top: calc(var(--index) * 40.3);
        right: calc(var(--index) * 1);
    }
}

@media screen and (max-width: 380px) {

    .timer-white {
        bottom: calc(var(--index) * 22);
    }

    .timer-black {
        top: calc(var(--index) * 39.7);
        left: calc(var(--index) * 28);
    }
}





